.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.header {
    display: flex;
    justify-content: flex-start;
}
.logo {
    width: 5rem;
    height: 5rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.error {
    color: red;
    text-transform: uppercase;
}